<title>Cotação Agora</title>
<meta name="description" content="Cotação em tempo real de dólar, euro e libra."> 

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />