<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>Cotação Agora</h1>
  <img src="images/cotacao-agora-logo.png" alt="">
  <p>Cotação em tempo real de dólar, euro e libra.</p>

</body>
</html>
