<!DOCTYPE html>
<html lang="pt-br">
<head>

  <% include ../partials/header.ejs %>

</head>

<body ng-app="cotacaoAgora">

	<header>
		<div class="text-center">
		  <h1 class="hidden">Cotação Agora</h1>
		  <img src="images/cotacao-agora-logo.png" alt="">
		  <p>Cotação em tempo real de dólar, euro e libra.</p>
	  </div>
	</header>

	<article id="cotacao" ng-controller="cotacaoController as cotacao">
		<div class="container">

			<div class="col-md-4" ng-repeat="moeda in cotacao.moedas">
				<h2>
					<img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/currency-flags/{{ moeda.currencyObj.abbreviation }}.png" alt="{{ moeda.currencyObj.name }}"> {{ moeda.currencyObj.name }}
				</h2>
				<h3>{{ moeda.currencyObj.acronym }} 1,00 - R$ {{ moeda.total_value / moeda.quantity | number:2 }}</h3>
				<p><small>Fonte: <a href="{{ moeda.currencyObj.website }}" title="Fonte - {{ moeda.currencyObj.website }}">{{ moeda.currencyObj.website }}</a></small></p>
			</div>

		</div>
	</article>

  <% include ../partials/footer.ejs %>

</body>
</html>
